.gallery{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.gallery_item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.red{
    background-color: rgb(199, 112, 112);
    color: rgb(68, 21, 68);
}